@use '@/styles/mixins.scss' as *;
@use '@/styles/variables.scss' as *;

.loadingSkeleton {
  @include flex-center;
  flex-direction: column;
  gap: var(--spacing-md);
  padding: var(--spacing-xl);
  text-align: center;
  color: var(--color-text-secondary);

  .spinner {
    @include spinner;
  }
}