@use "../../styles/design-tokens.scss" as *;

.alert {
  position: relative;
  width: 100%;
  border-radius: calc(var(--radius) + 4px); // rounded-lg
  border: 1px solid var(--border);
  padding: $spacing-3 $spacing-4;
  font-size: $font-size-sm;
  display: grid;
  grid-template-columns: 0 1fr;
  gap: $spacing-0_5 0;
  align-items: start;

  &:has(> svg) {
    grid-template-columns: calc(var(--spacing) * 4) 1fr;
    column-gap: $spacing-3;
  }

  svg {
    width: 1rem; // size-4
    height: 1rem;
    transform: translateY(0.125rem); // translate-y-0.5
    color: currentColor;
  }
}

.variant-default {
  background-color: var(--card);
  color: var(--card-foreground);
}

.variant-destructive {
  color: var(--destructive);
  background-color: var(--card);

  svg {
    color: currentColor;
  }

  [data-slot='alert-description'] {
    color: hsl(var(--destructive) / 0.9);
  }
}

.alertTitle {
  grid-column-start: 2;
  line-clamp: 1;
  min-height: 1rem; // min-h-4
  font-weight: $font-weight-medium;
  letter-spacing: -0.025em; // tracking-tight
}

.alertDescription {
  color: var(--muted-foreground);
  grid-column-start: 2;
  display: grid;
  justify-items: start;
  gap: $spacing-1;
  font-size: $font-size-sm;

  p {
    line-height: $line-height-relaxed;
  }
}

