@use "../../../styles/design-tokens.scss" as *;

.column {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: $kanban-column-gap;
  align-items: flex-start;
  width: $kanban-column-width;
  height: $kanban-column-height;
  background-color: transparent;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: $kanban-card-cards-gap;
  width: 100%;
  height: $kanban-cards-container-height;
  min-height: 0;
  flex-shrink: 0;
}
