@use "../../../styles/design-tokens.scss" as *;

.board {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  min-height: 0;
  background-color: $kanban-board-bg;
}

.content {
  height: 100%;
  min-height: 0;
  width: 100%;
  overflow: auto;
  background-color: $kanban-board-bg;
}

.columns {
  position: relative;
  min-height: $kanban-column-height;
  min-width: max-content;
  width: max-content;
  height: 100%;
  padding: $kanban-board-padding-y $kanban-board-padding-right 0 $kanban-board-padding-x;
}
