@use "../../../styles/design-tokens.scss" as *;

.header {
  position: relative;
  flex-shrink: 0;
  height: 24px;
  display: flex;
  gap: 8px;
  align-items: center;
  width: fit-content; // Allow header to size to content, not full width
}

