@use "../styles/design-tokens.scss" as *;

// Utility classes
.contentStretch {
  align-content: stretch;
}

.flex {
  display: flex;
}

.flexCol {
  flex-direction: column;
}

.itemsStart {
  align-items: flex-start;
}

.itemsCenter {
  align-items: center;
}

.justifyBetween {
  justify-content: space-between;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.relative {
  position: relative;
}

.shrink0 {
  flex-shrink: 0;
}

.wFull {
  width: 100%;
}

.boxBorder {
  box-sizing: border-box;
}

.overflowClip {
  overflow: clip;
}

.pointerEventsNone {
  pointer-events: none;
}

.absolute {
  position: absolute;
}

.inset0 {
  inset: 0;
}

.borderSolid {
  border-style: solid;
}

.textCenter {
  text-align: center;
}

.textRight {
  text-align: right;
}

.textNowrap {
  white-space: nowrap;
}

.whitespacePre {
  white-space: pre;
}

.leadingNone {
  line-height: 0;
}

.leadingNormal {
  line-height: normal;
}

// Specific classes
.gap8px {
  gap: 8px;
}

.gap2px {
  gap: 2px;
}

.gap16px {
  gap: 16px;
}

.rounded2px {
  border-radius: 2px;
}

.rounded4px {
  border-radius: 4px;
}

.rounded12px {
  border-radius: 12px;
}

.roundedInherit {
  border-radius: inherit;
}

.px4px {
  padding-left: 4px;
  padding-right: 4px;
}

.py2px {
  padding-top: 2px;
  padding-bottom: 2px;
}

.p12px {
  padding: 12px;
}

.w2 {
  width: 0.5rem;
}

.h2 {
  height: 0.5rem;
}

.bgCacaca {
  background-color: #cacaca;
}

.bgNeutral50 {
  background-color: $color-neutral-50;
}

.bgNeutral950 {
  background-color: $color-neutral-950;
}

.bg454545 {
  background-color: #454545;
}

.textCacaca {
  color: #cacaca;
}

.textNeutral50 {
  color: $color-neutral-50;
}

.text24px {
  font-size: 24px;
}

.text8px {
  font-size: 8px;
}

.text48px {
  font-size: 48px;
}

.text10px {
  font-size: 10px;
}

.fontMedium {
  font-weight: 500;
}

.fontBold {
  font-weight: 700;
}

.fontLight {
  font-weight: 300;
}

.trackingNeg24px {
  letter-spacing: -0.24px;
}

.tracking012px {
  letter-spacing: 0.12px;
}

.trackingNeg24px {
  letter-spacing: -2.4px;
}

.trackingNeg01px {
  letter-spacing: -0.1px;
}

.leading48px {
  line-height: 48px;
}

.leading12px {
  line-height: 12px;
}

.basis0 {
  flex-basis: 0;
}

.grow {
  flex-grow: 1;
}

.maxH64px {
  max-height: 64px;
}

.minHPx {
  min-height: 1px;
}

.minWPx {
  min-width: 1px;
}

.h108px {
  height: 108px;
}

.hPx {
  height: 1px;
}

.sizeFull {
  width: 100%;
  height: 100%;
}

.borderCacaca {
  border-color: #cacaca;
}

.border {
  border-width: 1px;
}

.rounded {
  border-radius: 0.25rem;
}

.notItalic {
  font-style: normal;
}

