@use "../../../styles/design-tokens.scss" as *;

.editorListItem {
  position: absolute;
  left: 23.99px;
  top: 919.52px;
  width: 776.008px;
}

.editorListItemText {
  font-family: $font-family-sans;
  font-weight: $font-weight-normal;
  line-height: 1.5rem;
  font-style: normal;
  color: $color-gray-200;
  font-size: 1rem;
  white-space: pre-wrap;
  letter-spacing: -0.3125px;
}

