@use "../../../styles/design-tokens.scss" as *;

.editorCodeBlock {
  position: absolute;
  background-color: $color-dark-bg-secondary;
  left: 0;
  top: 200.91px;
  width: 800px;
  padding: 15.99px 23.99px;
  border-radius: 8px;
}

.editorCodeBlockBorder {
  position: absolute;
  border-width: 0.909px;
  border-color: #262626;
  border-style: solid;
  inset: 0;
  pointer-events: none;
  border-radius: 8px;
}

.editorCodeTextContent {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  font-family: $font-family-mono;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: $color-gray-200;
  white-space: pre;
  letter-spacing: -0.3125px;
}

