@use "../../styles/design-tokens.scss" as *;

.priorityIndicator {
  display: flex;
  align-items: center;
  gap: $spacing-2;
}

.priorityIndicatorButton {
  display: flex;
  align-items: center;
  gap: $spacing-2;
  transition: opacity $transition-normal;

  &:hover {
    opacity: 0.8;
  }
}

