@use "../../styles/design-tokens.scss" as *;

.progress {
  position: relative;
  height: 0.5rem; // h-2
  width: 100%;
  overflow: hidden;
  border-radius: 9999px; // rounded-full
  background-color: hsl(var(--primary) / 0.2);
}

.progressIndicator {
  background-color: var(--primary);
  height: 100%;
  width: 100%;
  flex: 1;
  transition: all $transition-normal;
}

