@use "../../styles/design-tokens.scss" as *;

.tooltipContent {
  z-index: 50;
  width: fit-content;
  transform-origin: var(--radix-tooltip-content-transform-origin);
  border-radius: calc(var(--radius) - 2px);
  padding: $spacing-1_5 $spacing-3;
  font-size: $font-size-xs;
  background-color: var(--primary);
  color: var(--primary-foreground);
  text-wrap: balance;
  animation: fade-in $duration-normal $ease-out, zoom-in-95 $duration-normal $ease-out;

  &[data-state='closed'] {
    animation: fade-out $duration-normal $ease-out, zoom-out-95 $duration-normal $ease-out;
  }

  &[data-side='bottom'] {
    animation: slide-in-from-top-2 $duration-normal $ease-out;
  }

  &[data-side='left'] {
    animation: slide-in-from-right-2 $duration-normal $ease-out;
  }

  &[data-side='right'] {
    animation: slide-in-from-left-2 $duration-normal $ease-out;
  }

  &[data-side='top'] {
    animation: slide-in-from-bottom-2 $duration-normal $ease-out;
  }
}

.tooltipArrow {
  background-color: var(--primary);
  fill: var(--primary);
  z-index: 50;
  width: 0.625rem; // size-2.5
  height: 0.625rem;
  transform: translateY(calc(-50% - 2px)) rotate(45deg);
  border-radius: 2px;
}

